<br>
<table align="center">
  <td>
    <marquee behavior="alternate" BGCOLOR= #FF69B4><h3 align="center">My Friends</h3></marquee>
  </td>
</table><br>
<table border="2px" align="center" width="50%">
  <ul>
    <% @friends.each do |user| %>
      <li><hr>
        	<%# user1 = User.find(user.try(:friend_id))%>
        <%= user.email %> 
      </li>
     <% end %>  
      <% current_user.friends.each do |friend| %>
        <%= link_to "Unfriend", frind_path(id: friend.id), method: :delete, class: "btn btn-primary" %>
      <% end %>
   
  </ul>
</table>
<h1 align="center">
  <%= link_to "Back", :back, class: "btn btn-primary" %>
</h1>