<div class="table-responsive">          
  <table class="table datatable table-bordered">
    <thead>
      <tr class="bg-primary">
        <th>Friends</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <% current_user.friends.each do |friend| %>
        <tr>
          
        <td><% if friend.user == current_user %>
          <% user = friend.frind %>
        <% else %>
          <% user = friend.user %>
        <% end %>
        <% if user.present? %>
          <hr>
        <%= user.email %></td>
        <td><%= link_to "Unfriend", frind_path(id: friend.id), method: :delete, class: "btn btn-primary" %></td>
         
         <%end%> 
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
