<table border="2px" align="center" width="50%">
  <td>
    <ul>
      <% @friends.each do |user| %>
        <li><hr>
        	<%# user1 = User.find(user.try(:friend_id))%>

          <%= user.email %> 
        </li>
      <% end %>
    </ul>
  </td>
</table>
