<% current_user.pending_friends.each do |f_request| %>
  <li>
    <p align="center">
              
      <%= f_request.user.try(:email) %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <%= link_to "Accept", frind_path(id: f_request.id), method: "put", class: "btn btn-primary" %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <%= link_to "Decline", frind_path(id: f_request.id), method: :delete, class: "btn btn-primary" %></p>
  </li>
<% end %>