<br><br><br>
<html>
  <head>
  </head>
  <body>
	
  <h1 align="center">
    <div id=rcorners1 align="center">
      <%= link_to 'all users', "frinds/whatever",  class: "btn btn-primary"%>
      <%= link_to 'friends', "frinds/myfriend",  class: "btn btn-primary"%>
      <%= link_to 'pending request', "frinds/myfriend", class: "btn btn-primary"%>
    </div>
  </h1>
</body>