<br><br><br>
<html>
  <head>
  	<style> 
      #rcorners1 {
          border-radius: 50px;
          background: #73AD21;
          align-content: center;
          width: 400px;
          height: 50px
          ; 
      }
    </style>
  </head>
  <body>
	
  <h1 align="center">
    <div id=rcorners1 align="center">
      <%= link_to 'all users', "frinds/whatever",  class: "btn btn-primary"%>|
      <%= link_to 'friends', "frinds/myfriend",  class: "btn btn-primary"%>
    </div>
  </h1>
</body>