<footer class="page-footer font-small blue size">
  <div class="footer-copyright text-center py-3">© <%= Time.now.year %> Copyright
  </div>
</footer>
<style type="text/css">
  .size
  {
    margin-top: 400px;
  }
</style>