    <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="#">
                        Start Bootstrap
                    </a>
                </li>
                <li class="active">
                    <a href="/frinds/whatever">All Users</a>
                </li>
                <li>
                    <a href="/frinds/myfriend">Friends</a>
                </li>
                <li>
                    <a href="/frinds/whatever">Pending Request</a>
                </li>
                <li>
                    <a href="/frinds/myprofile">Profile</a>
                </li>
                <li>
                    <a href="#">Posts</a>
                </li>
                <li>
                    <a href="#">About</a>
                </li>
                <li>
                    <a href="#">Contact</a>
                </li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->